body
{
    background-image: url("homebg.jpg");
    background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
}
#p1
{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(22, 104, 21);
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 20%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
}
#p2
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 34, 5);
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
}
#p4
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 98, 16);
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: whitesmoke;
}